 /*
=====================================================================

   TOC:
   a. General Styles
   b. Header Styles
   c. About Section
   d. Resume Section
   e. Portfolio Section
   f. Call To Action Section
   g. Testimonials Section
   h. Contact Section
   i. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

* {
  box-sizing: border-box;
}

body { 
  background-color: $background-color;
  font-family: $font-family-sans-serif;
  height: 100vh;
  margin: 0;
  
}

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */
 

header {
  position: relative;
  height: 800px;
  min-height: 500px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

/* vertically center banner section */
header:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
header .banner {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  width: 85%;
  padding-bottom: 30px;
  text-align: center;
}

header .banner-text { width: 100%; }
header .banner-text h1 {
  font: 90px/1.1em 'opensans-bold', sans-serif;
  color: rgb(31, 27, 27);
  letter-spacing: -2px;
  margin: 0 auto 18px auto;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}
header .banner-text h3 {
  font: 18px/1.9em 'librebaskerville-regular', serif;
  color: #141414;
  margin: 0 auto;
  width: 70%;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}
header .banner-text h3 span,
header .banner-text h3 a {
  color: rgba(16, 88, 40, 0.938);
}
header .banner-text hr {
  width: 60%;
  margin: 18px auto 24px auto;
  border-color: #d40909;
  border-color: rgba(150, 150, 150, .1);
}

/* header social links */
header .social {
  margin: 24px 0;
  padding: 0;
  font-size: 30px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
header .social li {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
}
header .social li a { color: #fff; }
header .social li a:hover { color: #11ABB0; }

/* scrolldown link */
header .scrolldown a {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -29px;
  color: #fff;
  display: block;
  height: 42px;
  width: 42px;
  font-size: 42px;
  line-height: 42px;
  border-radius: 100%;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
header .scrolldown a:hover { color: #11ABB0; }

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/* nav-wrap */
#nav-wrap {
  font: 12px 'opensans-bold', sans-serif;
  width: 100%;
  background-color: #fff;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}
.opaque { background-color: #333; }

ul#nav {
  min-height: 48px;
  width: auto;

  /* center align the menu */
  text-align: center;
}
ul#nav li {
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
}

/* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

  display: inline-block;
  padding: 8px 13px;
  line-height: 32px;
 text-decoration: none;
  text-align: left;
  color: rgb(0, 0, 0);

 -webkit-transition: color .2s ease-in-out;
 -moz-transition: color .2s ease-in-out;
 -o-transition: color .2s ease-in-out;
 -ms-transition: color .2s ease-in-out;
 transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #F06000; }



/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */

#about {
  background: #2B2B2B;
  padding-top: 96px;
  padding-bottom: 66px;
  padding-left: $padding-side;
  padding-right: $padding-side;
  overflow: hidden;
  
}

#about a, #about a:visited  { color: #fff; }
#about a:hover, #about a:focus { color: #11ABB0; }

#about h2 {
  font: 22px/30px 'opensans-bold', sans-serif;
  color: #fff;
  margin-bottom: 12px;
}
#about p {
  line-height: 30px;
  color: #7A7A7A;
}
#about .profile-pic {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 100%;
}
#about .contact-details { width: 41.66667%; }
#about .download {
  width: 58.33333%;
  padding-top: 6px;
}
#about .main-col { padding-right: 5%; }
#about .download .button {
  margin-top: 6px;
  background: #444;
}
#about .download .button:hover {
  background: #fff;
  color: #2B2B2B;
}
#about .download .button i {
  margin-right: 15px;
  font-size: 20px;
}


/* ------------------------------------------------------------------ */
/* d. Resume Section
/* ------------------------------------------------------------------ */

#resume {
  background: #fff;
  padding-top: 90px;
  padding-bottom: 72px;
  padding-left: $padding-side;
  padding-right: $padding-side;
  overflow: hidden;

  h1{
    font: 18px/24px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;

    span{
        border-bottom: 3px solid #11ABB0;
         padding-bottom: 6px;
    }
  }

  h3{
    font: 25px/30px 'opensans-bold', sans-serif;
  }

  .header-col { padding-top: 9px;
  }

  .main-col { padding-right: 10%;
  }

  .info {
    font: 16px/24px 'librebaskerville-italic', serif;
    color: #6E7881;
    margin-bottom: 18px;
    margin-top: 9px;

    span {
      margin-right: 5px;
      margin-left: 5px;
    }
  }

  .date {
    font: 15px/24px 'opensans-regular', sans-serif;
    margin-top: 6px;
  }



}

#resume a, #resume a:visited  { color: #11ABB0; }
#resume a:hover, #resume a:focus { color: #313131; }


.education, .work {
  margin-bottom: 48px;
  padding-bottom: 24px;
  border-bottom: 1px solid #E8E8E8;
}

/*----------------------------------------------*/
/*	Skill Bars 
/*----------------------------------------------*/


.bars {
	width: 95%;
	float: left;
	padding: 0;
	text-align: left;

    .skills{
      margin-top: 36px;
      list-style: none;
    }

    li{
      position: relative;
  	  margin-bottom: 60px;
  	  background: #ccc;
  	  height: 42px;
  	  border-radius: 3px;

      em{
        font: 15px 'opensans-bold', sans-serif;
        color: #313131;
	      text-transform: uppercase;
        letter-spacing: 2px;
	      font-weight: normal;
        position: relative;
      	top: -36px;
      }

    }
}

.bar-expand {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding-right: 24px;
  background: #313131;
  display: inline-block;
  height: 42px;
  line-height: 42px;
  border-radius: 3px 0 0 3px;
}

.html5{
  @include animation_skill (html5, 95%);
}

.css{
  @include animation_skill (css, 80%);
}

.javascript{
  @include animation_skill (javascript, 80%);
}

.angular{
  @include animation_skill (angular, 75%);
}

.php{
  @include animation_skill (html5, 65%);
}

.sass{
  @include animation_skill (html5, 40%);
}




/* ------------------------------------------------------------------ */
/* e. Portfolio Section
/* ------------------------------------------------------------------ */

#portfolio {
  background: #ebeeee;
  padding-top: 90px;
  padding-bottom: 60px;

  h1{
    font: 15px/24px 'opensans-semibold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 48px;
    color: #95A3A3;

  }
}

/*Portfolio Content */
/* Portfolio */
.portolio-section .container {
  padding: 0;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  text-align: center;
  margin: 0;
}

.portfolio-item figcaption {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px;
  background: rgba(255, 255, 255, 0.75);
  transition: transform 0.35s;
  transform: translate3d(0, 100%, 0);
}

.portfolio-item figcaption h4 {
  color: #222;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 3px;
}

.portfolio-item figcaption p {
  color: #444;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
}

.portfolio-item:hover figcaption {
  transform: translate3d(0, 0, 0);
}

/* Portolio Caption */
#bp_container .bp-xc {
  background: #F6E05E !important;
}

#bp_caption a {
  text-decoration: none;
}


/* ------------------------------------------------------------------ */
/* h. Contact Section
/* ------------------------------------------------------------------ */

#contact {
  padding-top: 96px;
  padding-bottom: 102px;
  color: #636363;
}
#contact .section-head { margin-bottom: 42px; }

#contact a, #contact a:visited  { color: #11ABB0; }
#contact a:hover, #contact a:focus { color: #fff; }

#contact h1 {
  font: 18px/24px 'opensans-bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  
  margin-bottom: 6px;
}
#contact h1 span { display: none; }
#contact h1:before {
  font-family: 'FontAwesome', sans-serif;
  content: " ";
 padding-right: 10px;
 font-size: 72px;
  line-height: 72px;
  text-align: left;
  float: left;
  
}

#contact h4 {
  font: 16px/24px 'opensans-bold', sans-serif;
  
  margin-bottom: 6px;
}
#contact p.lead {
  font: 18px/36px 'opensans-light', sans-serif;
  padding-right: 3%;
}
#contact .header-col { padding-top: 6px; }


/* contact form */
#contact form { margin-bottom: 30px; }
#contact label {
   font: 15px/24px 'opensans-bold', sans-serif;
   margin: 12px 0;
	display: inline-block;
	float: left;
   width: 26%;
}
#contact input,
#contact textarea,
#contact select {
   padding: 18px 20px;

	margin-bottom: 42px;
	border: 0;
	outline: none;
   font-size: 15px;
   line-height: 24px;
   width: 65%;
}
#contact input:focus,
#contact textarea:focus,
#contact select:focus {
	background-color: #11ABB0;
}
#contact button.submit {
	text-transform: uppercase;
	letter-spacing: 3px;
	border: none;
  cursor: pointer;
  height: auto;
  display: inline-block;
	border-radius: 3px;
  margin-left: 26%;
}
#contact button.submit:hover {
	color: #ff5733;
}
#contact span.required {
	color: #11ABB0;
	font-size: 13px;
}
/* ------------------------------------------------------------------ */
/* i. Footer
/* ------------------------------------------------------------------ */

footer {
  padding-top: 48px;
  margin-bottom: 48px;
  color: #303030;
  font-size: 14px;
  text-align: center;
  position: relative;
}

footer a, footer a:visited { color: #525252; }
footer a:hover, footer a:focus { color: #fff; }

footer li {
   display: inline-block;
   margin: 0;
   padding: 0;
   line-height: 24px;
}
.ie footer li {
  display: inline;
}
 li:before {
   content: " ";
   padding-left: 10px;
   padding-right: 10px;
   color: #095153;
}
 li:first-child:before {
   display: none;
}

/* social links */
footer .social-links {
  margin: 18px 0 30px 0;
  padding: 0;
  font-size: 30px;
}
footer .social-links li {
   display: inline-block;
   margin: 0;
   padding: 0;
   margin-left: 42px;
   color: #F06000;
}

footer .social-links li:first-child { margin-left: 0; }

/*  7. Forms  --------------------------------------------------------- */



/* Grid Item */

.grid-item {
  padding-bottom: 12px;
  width: 100%;
  img{
    display: block;
    max-width: 100%;
  }
}

@media (min-width: 48em) {
  .pb-3{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    max-height: 50%;
    
  }
}

/* d. Grid
---------------------------------------------------------------------
   gutter = 40px.
/* ------------------------------------------------------------------ */

/* default
--------------------------------------------------------------- */
.row {
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
}
/* fixed width for IE8 */
.ie .row { width: 1000px ; }

.narrow .row { max-width: 980px; }

.row .row { width: auto; max-width: none; margin: 0 -20px; }

/* row clearing */
.row:before,
.row:after {
   content: " ";
   display: table;
}
.row:after {
   clear: both;
}

.column, .columns {
  position: relative;
  padding: 0 20px;
  min-height: 1px;
  float: left;
}
.column.centered, .columns.centered  {
   float: none;
   margin: 0 auto;
}

/* removed gutters */
.row.collapsed > .column,
.row.collapsed > .columns,
.column.collapsed, .columns.collapsed  { padding: 0; }

[class*="column"] + [class*="column"]:last-child { float: right; }
[class*="column"] + [class*="column"].end { float: right; }

/* column widths */
.row .one         { width: 8.33333%; }
.row .two         { width: 16.66667%; }
.row .three       { width: 25%; }
.row .four        { width: 33.33333%; }
.row .five        { width: 41.66667%; }
.row .six         { width: 50%; }
.row .seven       { width: 58.33333%; }
.row .eight       { width: 66.66667%; }
.row .nine        { width: 75%; }
.row .ten         { width: 83.33333%; }
.row .eleven      { width: 91.66667%; }
.row .twelve      { width: 100%; }

/* Offsets */
.row .offset-1    { margin-left: 8.33333%; }
.row .offset-2    { margin-left: 16.66667%; }
.row .offset-3    { margin-left: 25%; }
.row .offset-4    { margin-left: 33.33333%; }
.row .offset-5    { margin-left: 41.66667%; }
.row .offset-6    { margin-left: 50%; }
.row .offset-7    { margin-left: 58.33333%; }
.row .offset-8    { margin-left: 66.66667%; }
.row .offset-9    { margin-left: 75%; }
.row .offset-10   { margin-left: 83.33333%; }
.row .offset-11   { margin-left: 91.66667%; }

/* Push/Pull */
.row .push-1      { left: 8.33333%; }
.row .pull-1      { right: 8.33333%; }
.row .push-2      { left: 16.66667%; 	}
.row .pull-2      { right: 16.66667%; }
.row .push-3      { left: 25%; }
.row .pull-3      { right: 25%;	}
.row .push-4      { left: 33.33333%; }
.row .pull-4      { right: 33.33333%; }
.row .push-5      { left: 41.66667%; }
.row .pull-5      { right: 41.66667%; }
.row .push-6      { left: 50%; }
.row .pull-6      { right: 50%; }
.row .push-7      { left: 58.33333%; }
.row .pull-7      { right: 58.33333%; }
.row .push-8      { left: 66.66667%; 	}
.row .pull-8      { right: 66.66667%; }
.row .push-9      { left: 75%; }
.row .pull-9      { right: 75%; }
.row .push-10     { left: 83.33333%; }
.row .pull-10     { right: 83.33333%; }
.row .push-11     { left: 91.66667%; }
.row .pull-11     { right: 91.66667%; }

/* block grids
--------------------------------------------------------------------- */
.bgrid-sixths [class*="column"]   { width: 16.66667%; }
.bgrid-quarters [class*="column"] { width: 25%; }
.bgrid-thirds [class*="column"]   { width: 33.33333%; }
.bgrid-halves [class*="column"]   { width: 50%; }

[class*="bgrid"] [class*="column"] + [class*="column"]:last-child { float: left; }

/* Left clearing for block grid columns - columns that changes width in
different screen sizes. Allows columns with different heights to align
properly.
--------------------------------------------------------------------- */
.first { clear: left; }   /* first column in default screen */
.s-first { clear: none; } /* first column in smaller screens */

/* smaller screens
--------------------------------------------------------------- */
@media only screen and (max-width: 900px) {

  /* block grids on small screens */
  .s-bgrid-sixths [class*="column"]   { width: 16.66667%; }
  .s-bgrid-quarters [class*="column"] { width: 25%; }
  .s-bgrid-thirds [class*="column"]   { width: 33.33333%; }
  .s-bgrid-halves [class*="column"]   { width: 50%; }

  /* block grids left clearing */
  .first { clear: none; }
  .s-first { clear: left; }

}

/* mobile wide/smaller tablets
--------------------------------------------------------------- */
@media only screen and (max-width: 767px) {

  .row {
    width: 460px;
    margin: 0 auto;
     padding: 0;
 }
  .column, .columns {
    width: auto !important;
    float: none;
    margin-left: 0;
    margin-right: 0;
     padding: 0 30px;
  }
  .row .row { width: auto; max-width: none; margin: 0 -30px; }

  [class*="column"] + [class*="column"]:last-child { float: none; }
  [class*="bgrid"] [class*="column"] + [class*="column"]:last-child { float: none; }

  /* Offsets */
  .row .offset-1    { margin-left: 0%; }
  .row .offset-2    { margin-left: 0%; }
  .row .offset-3    { margin-left: 0%; }
  .row .offset-4    { margin-left: 0%; }
  .row .offset-5    { margin-left: 0%; }
  .row .offset-6    { margin-left: 0%; }
  .row .offset-7    { margin-left: 0%; }
  .row .offset-8    { margin-left: 0%; }
  .row .offset-9    { margin-left: 0%; }
  .row .offset-10   { margin-left: 0%; }
  .row .offset-11   { margin-left: 0%; }
}

/* mobile narrow
--------------------------------------------------------------- */
@media only screen and (max-width: 460px) {

  .row { width: auto; }

}

/* larger screens
--------------------------------------------------------------- */
@media screen and (min-width: 1200px) {

  .wide .row { max-width: 1180px; }

}

